191202/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "WorkflowName": {
            "defaultValue": "day-2",
            "type": "String"
        },
        "TwilioSid": {
            "type": "securestring",
            "metadata": {
                "description": "Twilio Account Id"
            }
        },
        "TwilioToken": {
            "type": "securestring",
            "metadata": {
                "description": "Twilio Access Token"
            }
        }
    },
    "variables": {
        "twilioResourceId": "[resourceId('Microsoft.Web/connections','twilio')]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "twilio",
            "location": "[resourceGroup().location]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId, '/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/twilio')]"
                },
                "displayName": "twilio",
                "parameterValues": {
                    "sid": "[parameters('TwilioSid')]",
                    "token": "[parameters('TwilioToken')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('WorkflowName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "fromPhoneNumber": {
                            "defaultValue": "+14255980884",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "HTTP": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "phoneNumber": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "BreakTime": {
                            "runAfter": {
                                "Wait4MinAgain": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Return to the kitchen, take a break!",
                                    "from": "@parameters('fromPhoneNumber')",
                                    "to": "@variables('toPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "DeliverCoffee1": {
                            "runAfter": {
                                "Wait5MinAgain": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Deliver coffee to Mom and Dad",
                                    "from": "@parameters('fromPhoneNumber')",
                                    "to": "@variables('toPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "DeliverMoreCoffee": {
                            "runAfter": {
                                "Wait5MinutesAgain": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Deliver coffee to Sister and Brother",
                                    "from": "@parameters('fromPhoneNumber')",
                                    "to": "@variables('toPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "GetMoreCoffee": {
                            "runAfter": {
                                "Wait4Min": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Return to kitchen, fill two more cups",
                                    "from": "@parameters('fromPhoneNumber')",
                                    "to": "@variables('toPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "toPhoneNumber",
                                        "type": "string",
                                        "value": "@triggerBody()?['phoneNumber']"
                                    }
                                ]
                            }
                        },
                        "LightCandles": {
                            "runAfter": {
                                "Wait5Min": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Light the candles",
                                    "from": "@parameters('fromPhoneNumber')",
                                    "to": "@variables('toPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "PourTwoCups": {
                            "runAfter": {
                                "Wait25Min": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Pour two cups",
                                    "from": "@parameters('fromPhoneNumber')",
                                    "to": "@variables('toPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "RelightCandles": {
                            "runAfter": {
                                "Wait1Min": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Relight the candles",
                                    "from": "@parameters('fromPhoneNumber')",
                                    "to": "@variables('toPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "StartCoffee": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": "Start the coffee, set out 4 cups",
                                    "from": "@parameters('fromPhoneNumber')",
                                    "to": "@variables('toPhoneNumber')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['twilio']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Messages.json"
                            }
                        },
                        "Wait1Min": {
                            "runAfter": {
                                "GetMoreCoffee": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 1,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Wait25Min": {
                            "runAfter": {
                                "StartCoffee": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 25,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Wait4Min": {
                            "runAfter": {
                                "DeliverCoffee1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 4,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Wait4MinAgain": {
                            "runAfter": {
                                "DeliverMoreCoffee": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 4,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Wait5Min": {
                            "runAfter": {
                                "PourTwoCups": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 5,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Wait5MinAgain": {
                            "runAfter": {
                                "LightCandles": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 5,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Wait5MinutesAgain": {
                            "runAfter": {
                                "RelightCandles": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 5,
                                    "unit": "Minute"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "twilio": {
                                "connectionId": "[variables('twilioResourceId')]",
                                "connectionName": "Twilio",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location,'/managedApis/twilio')]"
                            }
                        }
                    }
                }
            },
            "dependsOn":[
                "twilio"
            ]
        }
    ],
    "outputs": {
        "WebHookURI": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', parameters('WorkflowName')), '/triggers/HTTP'), '2016-06-01').value]"
        }
    }
}